.tableContainer {
	max-width: 100%;
	max-height: 55vh;
	overflow: scroll;
	position: relative;
	z-index: 1;
}

.buttonsContainer {
	display: flex;
	flex-direction: row-reverse;
	position: sticky;
	z-index: 2;
	bottom: 0;
}

.tableContainer table {
	border-spacing: 0;
	user-select: none;
}

.tableContainer tbody tr {
	cursor: pointer;
}

.tableContainer tbody tr:hover {
	background-color: rgb(255 255 255 / 24%);
}

.tableContainer td {
	border: 1px solid white;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 100px;
	border: none;
	text-align: center;
	/* border-left: 1px solid white; */
	border-bottom: 1px solid white;
	padding: 10px 15px;
}

.tableContainer th {
	/* border: 1px solid white; */
	/* white-space: break-spaces; */
	white-space: break-spaces;
	text-overflow: ellipsis;
	/* overflow: hidden;
  max-width: 100px; */
	overflow: visible;
	min-width: auto;
	max-width: 200px;
	border: none;
	/* border-left: 1px solid white; */
	border-bottom: 1px solid white;
	/* padding: 10px 15px; */
}

.tableContainer th>* {
	display: block;
	padding: 10px 15px;
}

.tableContainer th>*:hover {
	background-color: rgba(0, 255, 255, 0.56);
}

.tableContainer th:last-child {
	/* border-right: 1px solid white; */
}

.tableContainer td:last-child {
	/* border-right: 1px solid white; */
}